node_modules/
client/node_modules/
server/node_modules/

.env
.env.*
*.env
server/config/config.env

dist/
client/dist/
build/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
